body {
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:3.9rem;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}

h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
}
li{
    display: inline;   
    
    color: white;
}
footer {
    text-align: center;
    background-color: rgb(236, 115, 16);
    clear: both;
  }

.contenedor {
    margin:0 auto;
    max-width:500px;
}

.cabecera h1,h2 {
   text-shadow: 0px 5px 15px #000; 
}

.cabecera {
    color:#fff;
    text-align:center;
    font-size:230%;
  }
  
.formulario {
    border:.5px solid #fff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
    background-color: rgba(255, 0, 0, 0.5)
}

.formulario h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
}

.contenedor input[type="passwordc"],
.contenedor input[type="text"],
.contenedor input[type="password"] {
    max-width:400px;
      width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}

.formulario input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}

.registro{
    color:#f2f2f2;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
}
 
.olvido {
    color:white;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
}
.btn {
    background: #ff9900;
    background-image: -webkit-linear-gradient(top, #fdc200, #ff6600);
    background-image: -moz-linear-gradient(top, #fdc200, #ff6600);
    background-image: -ms-linear-gradient(top, #fdc200, #ff6600);
    background-image: -o-linear-gradient(top, #fdc200, #ff6600);
    background-image: linear-gradient(to bottom, #fdc200, #ff6600);
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 28px;
    text-shadow: 1px 1px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 17px #666666;
    -moz-box-shadow: 6px 5px 17px #666666;
    box-shadow: 6px 5px 17px #666666;
    font-family: Arial;
    color: #fafafa;
    text-decoration: none;
    font-size: 17px;
    padding: 12px;
}

.btn:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #ff6600, #fdc200);
    background-image: -moz-linear-gradient(top, #ff6600, #fdc200);
    background-image: -ms-linear-gradient(top, #ff6600, #fdc200);
    background-image: -o-linear-gradient(top, #ff6600, #fdc200);
    background-image: linear-gradient(to bottom, #ff6600, #fdc200);
    text-decoration: none;
  }




    
/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
    .formulario h3 {
      text-align:center;
      margin:0;
    }
    .registro, .olvido {
      margin:10px 0;
    }

    
}